.content
  .post-list
    span.post.level-0
      span.left.
        ?
      span.right
        span.parent-title.
          Parent title
        span.title.
          The big Lebowsky
        .span.description.
          A script part
        .passage-list
          .passage.additional-style
            p.
              Stay in touch
              
